/* Root styles: Sets the base styles for the entire document */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: white;
    background-color: #030615;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset default styles for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styles for the root element: ensures full viewport height */
#root {
    min-height: 100vh;
    display: flex;
    display: relative;
}

/* Container for the background image */
.imgContainer {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
}

/* Styles for the background image */
.bgImage {
    width: 100%;
    height: 100%;
    flex: 1;
    object-fit: cover;
}

/* Footer styles: fixed at the bottom of the viewport */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

/* Styles for h2 elements in the footer */
footer h2 {
    font-size: 1.4rem;
}

/* Styles for h1 elements in the footer */
footer h1 {
    font-size: 0.9rem;
    font-weight: 200;
}

/* Styles for div elements in the footer */
footer div {
    display: flex;
    flex-direction: column;
}

/* Styles for buttons in the footer */
footer button {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    transition-duration: 200ms;
    cursor: pointer;
}

/* Styles for icons in footer buttons */
footer button i {
    font-size: 1.3rem;
}

/* Hover effect for footer buttons */
footer button:hover {
    opacity: 0.7;
}

/* Background gradient overlay */
.bgGradient {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

/* Background overlay for the sidebar */
.bgOverlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #030615, rgba(3, 6, 21, 0));
    opacity: 0.6;
}

/* Styles for the sidebar contents */
.sidebarContents {
    z-index: 15;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    height: 100%;
    width: 80%;
    max-width: 800px;
    margin: auto;
    background: #030615;
}

/* Styles for h2 elements in the sidebar */
.sidebarContents h2 {
    font-size: 2rem;
    font-weight: 200;
}

/* Styles for buttons in the sidebar */
.sidebarContents button {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    margin-right: auto;
    cursor: pointer;
    transition-duration: 200ms;
    padding: 1.5rem 0;
    position: relative;
    font-size: 1.5rem;
}

/* Hover effect for sidebar buttons */
.sidebarContents button:hover {
    opacity: 0.7;
}

/* Styles for description title */
.descriptionTitle {
    font-size: 1.1rem;
    font-weight: 200;
}

/* Styles for description container */
.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Styles for loading state */
.loadingState {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* Styles for loading icon */
.loadingState i {
    opacity: 0.2;
    font-size: 3rem;
    animation: spin 1s linear infinite;
}

/* Keyframes for loading icon spin animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media query for larger screens */
@media (min-width: 640px) {
    .sidebar {
        position: relative;
        inset: unset;
        min-width: 30%;
        max-height: 100vh;
        box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.5);
    }
    .sidebarContents {
        margin: unset;
        width: 100%;
    }
}
